table, th, td {
    border: 1pxsolidblueviolet;
      }
    
    table, th,td {
    color: black;
      }
    
    tabletheadtrtd {
    color:olivedrab;
      }
     
    body{
    background-color: burlywood;
    }
     
    #headingID
    {
    color:blue;
    
    
    }
     
    * {
    box-sizing: border-box;
    }